{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="second-block">
    <div class="second-block__img">
        <img src="{% static 'img/illustrations/map.png' %}" alt="" class="second-block__img--under-img">
    </div>
</div>
<div class="page-width">
    <div class="about-us-block">
        <div class="about-us-block--title">
            <p>About Us</p>
        </div>
        <div class="about-us-block--text1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </div>
        <div class="about-us-block--text2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <div class="executive-block">
        <div class="executive-block--title">
            <p> Executive Team </p>
        </div>
        <div class="executive-block__cards">
            {% for aboutUs in about %}
            <div class="executive-block__cards__1">
                <div class="executive-block__cards__1--img">
                    <img src="{{ aboutUs.images.url }}" alt="">
                </div>
                <div class="executive-block__cards__1--name">
                    <p>{{ aboutUs.name }}</p>
                </div>
                <div class="executive-block__cards__1--position">
                    <p>{{ aboutUs.position }}</p>
                </div>
                <div class="executive-block__cards__1--text">
                    <p> {{ aboutUs.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="functional-block">
        <div class="functional-block--title">
            <p> Functional Team </p>
        </div>
        <div class="functional-block__cards">
            {% for aboutUs in about2 %}
            <div class="functional-block__cards__1">
                <div class="functional-block__cards__1--img">
                    <img src="{{ aboutUs.images.url }}" alt="">
                </div>
                <div class="functional-block__cards__1--name">
                    <p> {{ aboutUs.name }}</p>
                </div>
                <div class="functional-block__cards__1--position">
                    <p>{{ aboutUs.position }}</p>
                </div>
                <div class="functional-block__cards__1--text">
                    <p> {{ aboutUs.description }} </p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="technical-block">
        <div class="technical-block--title">
            <p> Technical Team </p>
        </div>
        <div class="technical-block__cards">
            {% for aboutUs in about3 %}
            <div class="technical-block__cards__1">
                <div class="technical-block__cards__1--img">
                    <img src="{{ aboutUs.images.url }}" alt="">
                </div>
                <div class="technical-block__cards__1--name">
                    <p>{{ aboutUs.name }}</p>
                </div>
                <div class="technical-block__cards__1--position">
                    <p>{{ aboutUs.position }}</p>
                </div>
                <div class="technical-block__cards__1--text">
                    <p>{{ aboutUs.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="technical-block__cards2">
            {% for aboutUs in about4 %}
            <div class="technical-block__cards2__4">
                <div class="technical-block__cards2__4--img">
                    <img src="{{ aboutUs.images.url }}" alt="">
                </div>
                <div class="technical-block__cards2__4--name">
                    <p>{{ aboutUs.name }}</p>
                </div>
                <div class="technical-block__cards2__4--position">
                    <p>{{ aboutUs.position }}</p>
                </div>
                <div class="technical-block__cards2__4--text">
                    <p>{{ aboutUs.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

    <div class="customers-block">
        <div class="customers-block--title">
            <p> Executive Team </p>
        </div>
        <div class="customers-block__cards">
            {% for aboutUs in about5 %}
            <div class="customers-block__cards__1">
                <div class="customers-block__cards__1--name">
                    <p>{{ aboutUs.name }}</p>
                </div>
                <div class="customers-block__cards__1--position">
                    <p>{{ aboutUs.position }}</p>
                </div>
                <div class="customers-block__cards__1--text">
                    <p>{{ aboutUs.description }}</p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="newsletter-block">
        <div class="newsletter-block--title">
            <p> We are ready when you are. </p>
            <p> Contact us today. </p>
        </div>
        <div class="newsletter-block--button">
            <button> Get in touch today </button>
        </div>
    </div>
</div>
{% endblock content %}