{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="page-width">
    <div class="service-block">
        <div class="service-block--title">
            <p>Our Services</p>
        </div>
        {% for service in services %}
        <div class="service-block__card1">
            <div class="service-block__card1__description">
                <div class="service-block__card1__description--width">
                    <div class="service-block__card1__description--title">
                        <p> {{ service.title }} </p>
                    </div>
                    <div class="service-block__card1__description--text">
                        <p> {{ service.description }} </p>
                    </div>
                    <div class="service-block__card1__description--button">
                        <button> <i class="fa fa-arrow-right" aria-hidden="true"></i> </button>
                    </div>
                </div>
            </div>
            <div class="service-block__card1--img">
                <img src="{{ service.images.url }}" alt="">
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="newsletter-block">
        <div class="newsletter-block--title">
            <p> We are ready when you are. </p>
            <p> Contact us today. </p>
        </div>
        <div class="newsletter-block--button">
            <button> Get in touch today </button>
        </div>
    </div>
</div>
{% endblock content %}